* { 
    margin:0;
}

.wrap { 
    width:1000px; 
    border:1px solid;
}

.aside2 { 
    width:400px; 
    height:500px; 
    background:aqua; 
    float:left;
}

.section2 { 
    width:500px; 
    height:200px; 
    background:pink; 
    float:left;
}

.clear { 
    clear:both;
}

img {
    float: left;
  }